<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); -%>
    
</head>
<body>
    <header>
        <h1> MAREL 360</h1>
    </header>
    <main>
        <div class="jumbotron">
            <p>Login or Register with:</p>
		    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer_site'); -%>
    </footer>
    
</body>
</html>